AICUT_API_HOST=127.0.0.1
AICUT_API_PORT=43110
AICUT_WEB_PORT=43111
AICUT_DB_PATH=./library/aicut.db
AICUT_LIBRARY_ROOT=./library
AICUT_ASR_WORKER_URL=http://127.0.0.1:43112
AICUT_ASR_MODEL=small
AICUT_ASR_DEVICE=auto
AICUT_ASR_COMPUTE_TYPE=int8
AICUT_FFMPEG_PATH=ffmpeg
AICUT_RECORDER_SEGMENT=30
